body {
  background-color: #282c34;
}

.ItemListContainer ul{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.contador{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.contador p{
  display: flex;
  justify-content: center;
  align-items: center;
}

.imagenProducto {
  max-height: 350px;
}

.imagenProducto:hover {
  opacity: 40%;
  display: inline;
}

.imagenProducto:hover + .textoImagenProducto {
  display: block;
}
